@inherits LayoutComponentBase
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="/images/icon-72.png" alt="" height="20" class="d-inline-block align-text-top">
            TipCalc
        </a>
        <div>
            <a href="https://github.com/jeremyknight-me/tip-calc" target="_blank" title="GitHub Repository" class="text-white">
                <i class="bi bi-github"></i>
            </a>
        </div>
    </div>
</nav>
<div id="content-wrapper">
    @Body
</div>