@inherits LayoutComponentBase

@inject IJSRuntime JS

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="/images/icon-72.png" alt="" height="20" class="d-inline-block align-text-top">
            TipCalc
        </a>
        <div>
            <button id="pwa-install" class="btn btn-sm btn-link text-success-emphasis" type="button" @onclick="Install">
                Install
            </button>
            <a href="https://github.com/jeremyknight-me/tip-calc" target="_blank" title="GitHub Repository" class="text-white">
                <i class="bi bi-github"></i>
            </a>
        </div>
    </div>
</nav>
<div id="content-wrapper">
    @Body

    <div class="text-center small">
        <button type="button" class="btn btn-link text-success" style="text-decoration: none;"
        data-bs-toggle="modal" data-bs-target="#aboutModal">
            About
        </button>
    </div>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-body">
                <h2>TipCalc</h2>
                <p>The app can be installed on Windows (thru multiple modern browsers), Android (thru Chrome), and Apple devices (thru Safari).</p>
                <p>
                    Developed by <a href="https://www.jeremyknight.me" target="_blank" class="text-success" style="text-decoration: none;">Jeremy Knight</a>
                    as a free tool. If you'd like to show your appreciation, please use the button below.
                </p>
                <div class="text-center">
                    <a href='https://ko-fi.com/Q5Q23G0DD' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi1.png?v=6' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    private async Task Install()
    {
        await this.JS.InvokeVoidAsync("tipcalc.installApp");
    }
}