:root {
    --theme-color: #03173d;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* --- App Loader Styles -------------- */

#app, #splash {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

#app #splash {
    background: var(--theme-color);
    left: 0;
    padding-top: 5%;
    position: absolute;
    text-align: center;
    top: 0;
}

    #app #splash .splash-image img {
        height: 30%;
        margin: 5% 0;
        max-height: 400px;
        max-width: 400px;
        width: 30%;
    }

    #app #splash .splash-text {
        color: #fff;
    }

/* --- App Styles -------------- */

#content-wrapper {
    text-align: center;
}

label {
    font-weight: 700;
}

table {
    margin: 1em auto 0;
}

table thead tr th,
table tbody tr td {
    padding: 0.5em 1em;
    text-align: left;
}

table thead tr th {
    background: var(--theme-color);
    color: #fff;
    font-weight: 700;
    text-align: left;
}

.text-right { text-align: right; }
