<EditForm Model="this.ViewModel">
    <div class="row justify-content-sm-center text-start">
        <div class="col col-sm-6 col-md-4 col-lg-3">
            <label for="bill-amount" class="form-label">Amount</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <InputDecimal id="bill-amount" @bind-Value="this.ViewModel.Amount"
                              placeholder="0.00" class="form-control" min="0" step="0.1" />
            </div>
        </div>
        <div class="col col-sm-6 col-md-4 col-lg-3">
            <label for="bill-discount" class="form-label">Discount</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <InputDecimal id="bill-discount" @bind-Value="this.ViewModel.Discount"
                              placeholder="0.00" class="form-control" min="0" step="0.1" />
            </div>
            <div class="form-text text-start"><small>Add Gift Cards, etc.</small></div>
        </div>
    </div>
</EditForm>

@if (this.ViewModel is null || this.ViewModel.Tips.Items is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th class="text-start">Percent</th>
                <th class="text-end">Tip</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var calc in this.ViewModel.Tips.Items)
            {
                <tr>
                    <td class="text-start">@($"{calc.Percent}")%</td>
                    <td class="text-end">$@($"{calc.TipAmount:##0.00}")</td>
                    <td class="text-end">$@($"{calc.Total:##0.00}")</td>
                </tr>
            }
            <tr id="custom-tip-row">
                <td class="text-start">
                    <form class="row">
                        <div class="col-auto">
                            <div class="input-group input-group-sm">
                                <input id="custom-percent" type="number" placeholder="custom percent"
                                   value="@this.ViewModel.CustomTip.Percent" class="form-control" step="1" min="0"
                                   @oninput="@this.HandleCustomTipAmountChanged" />
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </form>
                </td>
                <td class="text-end">$@($"{this.ViewModel.CustomTip.TipAmount:##0.00}")</td>
                <td class="text-end">$@($"{this.ViewModel.CustomTip.Total:##0.00}")</td>
            </tr>
        </tbody>
    </table>
}