@page "/"

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="/images/icon-72.png" alt="" height="20" class="d-inline-block align-text-top">
            TipCalc
        </a>
    </div>
</nav>

<div class="container mt-3">
    <SimpleView />
</div>
